.body{
    text-align: center;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    padding: 5%;
    background-color:black;
    color: white;
    /* background: linear-gradient(to right, #e5c0ee, #671672); */
}
.card{
    background-color: purple;
    margin-left: 35%;
    margin-top: 1%;
    padding:-40%;
}
/* .but{
    padding-left: 2%;
    padding-right: 1%;
} */
body{
    /* background-color: rgb(136, 7, 125) */
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
} 

.but{
    padding-left: 20%;
    padding-right: 20%;
    background-color: coral;
}
/* body{
    background-color: rgb(177, 234, 248);
} */
.image{
    padding: 0%;
}
.box{
    position: relative;
    height: 100vh;
    /* width: 100%; */
    /* background-color:rgb(33, 160, 202); */
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}
.full{
   
    width: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    padding-right: 12%;
    padding-top: -6%;
    padding-bottom: 0%;
    /* border-radius: 10%; */
    /* border:  5px solid whitesmoke; */
}
.imgage{
  padding: 5%;
} 
.vd{
    width: 100%;
}
button{
    border-radius: 10%;
    background-color: #413a85;
    font-size:small;
    border: 1px rgb(72, 50, 151);
    color: white;
}