 .containers{
    background-image: url('https://img.freepik.com/free-photo/dollar-banknotes-frame_1150-6686.jpg');
    height: 100vh;
    background-repeat: no-rept;
    background-size: cover;
    position: relative;
    background-color: rgb(36, 201, 146);
    margin-top: 100px; 
 }
.login{
    text-align: center;
    background-image: url('');
    background-color: rgb(17, 205, 229); 
    width:500px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
      
} 
 i{
    margin: 10px;
}  
 
