  /* .containers{
    background-color: yellow;
    background-repeat: no-rept;
    background-size: cover;
    position: relative;
    
 }
.login{
    text-align: center;
    background-image: url('');
    width:500px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
} */
.image{
    background-image: url("https://img.freepik.com/free-vector/piggy-bank-concept-illustration_114360-5512.jpg?w=740&t=st=1704862613~exp=1704863213~hmac=1abbec3f95bde5d3f7339fb15e2087e2f51099285fd9c2b690cc8d0683bf5e34");
    height: 100vh;
}
.login i{
    margin: 10px;
    color: #000;
} 
.login h1{
    color: black; 
}
.login label
{
    color: black;
} 
